[submodule "be-configs"]
	path = be-configs
	url = https://github.com/diia-open-source/be-configs.git
[submodule "be-eslint-plugin"]
	path = be-eslint-plugin
	url = https://github.com/diia-open-source/be-eslint-plugin.git
[submodule "be-eslint-config"]
	path = be-eslint-config
	url = https://github.com/diia-open-source/be-eslint-config.git
[submodule "be-genproto"]
	path = be-genproto
	url = https://github.com/diia-open-source/be-genproto.git
[submodule "be-types"]
	path = be-types
	url = https://github.com/diia-open-source/be-types.git
[submodule "be-scaffold"]
	path = be-scaffold
	url = https://github.com/diia-open-source/be-scaffold.git
[submodule "be-pkg-test"]
	path = be-pkg-test
	url = https://github.com/diia-open-source/be-pkg-test.git
