# local npm server storage
.verdaccio/storage/*

# gitkeep file overrides other rules, and force to keep folder structure in git
!**/.gitkeep

# dependencies version lock file
**/package-lock.json

# dependencies
node_modules/

# IDE folder
.vscode/
.idea/

# secrets
.secrets/
.aider*
